@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@600;700;800&family=Lato:wght@300;400;500&family=Cabin&family=Josefin+Sans:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-size: 18px;
}

::-webkit-scrollbar {
   display: flex;
}

button:focus {
   outline-color: #4267cf;
}

label {
   letter-spacing: -0.5px;
}

@layer components {
   .page {
      @apply max-w-7xl mx-auto;
   }

   .section {
      @apply grid grid-cols-1 md:grid-cols-12 p-5 xs:p-8 md:py-10 md:px-2;
   }

   .wrapper {
      @apply col-start-1 md:col-start-2 md:col-end-12;
   }

   .input {
      @apply px-5 py-3 border-br-1 border-black w-[90%];
   }

   .nav-link {
      @apply p-4 md:p-0 cursor-pointer text-gray-500 hover:text-primary-light;
   }

   .features {
      @apply absolute px-3 py-[10px] lg:px-4 lg:py-3 bg-white rounded-lg lg:rounded-xl shadow-md shadow-blue-200 font-semibold text-xs lg:text-sm text-primary-light font-cabin;
   }

   .heading {
      @apply relative inline-block font-kumbh-sans text-primary-light uppercase text-2xl xs:text-3xl mb-12 md:mb-16 before:block before:-z-10 before:w-20 before:h-14 before:absolute before:-left-3 before:-top-2 before:bg-gray-100 whitespace-nowrap;
   }
   
   /* .heading {
      @apply relative inline-block font-kumbh-sans text-primary-light uppercase text-2xl xs:text-3xl mb-12 md:mb-16 before:block before:w-24 before:h-[3px] before:absolute before:right-0 before:-bottom-2 before:bg-primary-light before:-rotate-3 whitespace-nowrap;
   }
   */
   /* #c2cceb */
   .before {
      @apply before:block before:absolute before:bg-primary-shadow before:w-[105%] before:h-[105%] before:rounded-md before:-rotate-[3deg] before:scale-[1.02] before:-top-[2.5%] before:-left-[2.5%] before:-z-10;
   }

   .step {
      @apply before:block before:absolute before:top-0 before:left-0 before:bg-primary-light before:w-0 before:h-full before:-z-10 hover:before:w-full [&>*]:hover:text-white before:transition-all before:duration-300;
   }

   .testimonial-btn {
      @apply absolute top-[48%] sm:top-[35%] text-2xl sm:text-3xl px-3 py-[5px] sm:px-5 sm:py-[10px] border-none rounded-2xl bg-primary-light text-white shadow-lg cursor-pointer;
   }

   .blogs {
      @apply grid grid-cols-[repeat(auto-fit,minmax(15rem,1fr))] gap-16 px-5 xs:px-8 md:p-0;
   }
}