body {
   font-family: Consolas, monospace;
}

.app {
   text-align: center;
   padding: 10px;
}

nav {
   display: flex;
   justify-content: center;
   gap: 10px;

   a {
      text-decoration: none;
   }
}
